/* this is the css for body , the background color is given as black */
body{
    margin: 0px;
    padding: 0px;
    background-color:darkcyan;
    background-blend-mode: multiply;
    background-size:cover;
    color: rgb(255, 255, 255);
}
/* header section css */
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 10;
}
/* setting the width and height of the logo  */
#logodiv{
    width: 250px;
    height: 100px;
}
#logoimg{
    width: 110%;
    height: 100%;
}
/* setting the width of  the search bar  */
#search-bar{
    width: 35%;
    background-color: black;
}
.search-conten{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    top: 15px;
}
#search-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
/* styling the input section of the search function  */
#search-area input{
    width: 100%;
    font-size: 1.6rem;
    border: none;
    color: black;
    background-color: darkgray;
}
/* the result of the search  */
.results{
    padding: 0px;
    max-height: 600px;
    overflow-y: scroll;
}
.results ul{
    padding: 0px;
    margin: 0px;
}
.results ul li{
    list-style: none;
    padding: 5px 15px;
    opacity: 0;
    display: none;
    border-radius: 3px;
    transition: all .5s linear;
}

/* css to the fav btn to neg to fav section */
#right-section{
    display: flex;
    justify-content: space-around;
    margin: 0px 20px;
}
#right-section button{
    border: none;
    color: white;
    background:none;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0px 20px;
}
#right-section button:hover, #right-section select:hover{
    color: #f01f88;
    text-decoration: none;
}
#my-list a:hover{
    text-decoration: none;
    color:red;
}
#my-list a{
    text-decoration: none;
    color: cyan;
}

/* all movies cards  */
#movie-container{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.movie-element{
    margin: 20px;
}
.movie-poster{
    height: 350px;
    width: 250px;
}
.movie-element:hover{
    transform: scale(1.1);
}
.movie-poster img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all .2s ease-in;
}
/* name of the movie  */
.movie-title{
    max-width: 240px;
    margin: 4px;
    margin-top: 15px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.movie-element-tags{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* movie rating  */
.movie-rating, .add-movie-to-list{
    font-size: 1.4rem;
}
.movie-rating i{
    color: gold;
}
.add-movie-to-list{
    color: #f11692;
}
.add-movie-to-list:hover{
    color: red;
}
/* prev and next button  */
.page-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.page-navigation button{
    font-size: 1rem;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: rgb(234, 33, 117);
}
.page-navigation button:hover{
    transform: scale(1.1);
}


/* responsiveness and media queries */
@media screen and (max-width:950px) {
    #logo{
        width: 200px;
        height: auto;
    }
}
/* when the screen size is 700 and less  */
@media screen and (max-width:700px) {
    #header{
        flex-direction: column;
    }
    #page-heading{
        padding-top: 140px;
    }
    #right-section{
        margin: 10px;
    }
    #search-bar{
        margin: 10px;
    }
    #back-to-home{
        top: 15px;
        left: 15px;
        margin: 0;
    }
}
@media screen and (max-width:700px) {
    #page-heading{
        font-size: 4rem;
    }
}
/* when the screen size is 550 and less  */
@media screen and (max-width:550px) {
    #page-heading{
        font-size: 4.5rem;
        padding-top: 140px;
    }
    .page-navigation{
        flex-direction: column;
    }
}
/* when the screen size is 380 and less  */
@media screen and (max-width:380px) {
    #page-heading{
        padding-top: 150px;
    }
}